.gameWrapper{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 150px;
}
.player{
    margin-right: 10px;
}
.artificialPlayer{
    margin-left: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.matchesLeft{
    margin-bottom: 10px;
    font-size: 24px;
    color: white;
}
.matchStick{
    height: 150px;
    width: 120px;
}
.matches{
    user-select: none;
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(180, 100%, 30.5%), white, grey);
    height: 320px;
    justify-content: center;
    align-items: center;
    width: 800px;
    -webkit-box-shadow: 0px 0px 19px -10px rgba(0, 0, 0, 0.01);
    -moz-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.01);
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.01);
    overflow: auto;
}
.amountMatches{
    display: flex;
    flex-direction: row;
}
.matchGroup{
    display: flex;
    flex-direction: row;
    border: solid 1px black;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    max-width: 300px;
    height: 210px;
}
.totalMatches{
    font-size: 22px;
    color: white;   
}