.logo img{
    position: relative;
    width: 85px;
    height: 85px;
    filter: drop-shadow(0px 0px 4px #fff);
  }
  .nav{
    display: flex;
    justify-content: space-around;
    height: inherit;
    width: 80%;
    flex-direction: row;
    align-items: center;
  }
  .navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: hsl(180, 100%, 30%);
  }
  .searchInputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchInput {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    border: none;
    padding: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px -10px rgba(0,0,0,0.75);
  }
  .searchInput::placeholder{
    color: #bbb
  }
  .searchIconWrapper {
    margin-left: -55px; 
  }
  .searchIcon {
    color: #888;
    font-size: 30px;
  }
  .profile {
    display: flex;
    align-items: center;
  }
  .profileName{
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
  }
  .profileIcon {
    color: #fff;
    font-size: 25px;
  }