html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, hsl(180, 100%, 30.5%), hsl(0, 0%, 0%), white);
}